@model ShopApp.WEBUI.Models.ProductListViewModel
@{
    ViewData["Title"] = "List";
}

<div class="row">
    <div class="col-md-3">
        @await Component.InvokeAsync("Categories")
        @await Html.PartialAsync("_search")

    </div>
    <div class="col-md-9">
        <div class="row">
            @foreach (var product in Model.Products)
            {
                <div class="col-md-4">
                    @await Html.PartialAsync("_showproduct", product)
                </div>
            }
            @if (Model.Products.Count == 0)
            {
                <div class="col-md-12">
                    <div class="alert alert-danger">
                        Ürün Yok :(
                    </div>
                </div>
            }
        </div>          <div class="row">
            <div class="col">
                <nav aria-label="Page navigation example">
                    <ul class="pagination">

                        @for (int i = 0; i < Model.PageInfo.TotalPages(); i++)
                        {
                            @if (String.IsNullOrEmpty(Model.PageInfo.CurrentCategory))
                            {
                                <li class="page-item @(Model.PageInfo.CurrentPage==i+1?"active":"")">
                                    <a class="page-link" href="/products?page=@(i+1)">
                                        @(i+1)
                                    </a>
                                </li>

                            }
                            else
                            {
                                <li class="page-item @(Model.PageInfo.CurrentPage==i+1?"active":"")">
                                    <a class="page-link" href="/products/@Model.PageInfo.CurrentCategory?page=@(i+1)">
                                        @(i+1)
                                    </a>
                                </li>

                            }


                        }


                    </ul>
                </nav>
            </div>
        </div>

    </div>
    
  
</div>



@section Scripts
{
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
}